<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <parameter name="deviceID" value="vivo_1811"/>
      <class name="tests.OnBoarding_SignIn"/>
      <!-- <class name="tests.zTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
